<main class="settings">
  <%= render "layouts/nav" %>
  <section>
    <div class="top">
      <div class="title">Account Settings</div>
    </div>
    <div class="body">
      <%= render "form", user: @user %>
    </div>
  </section>
</main>
